.search {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.search__label {
  position: absolute;
  top: 14px;
  right: 22px;
}

@media (min-width: $tablet-large) {
  .search {
    margin-right: 30px;
    margin-top: 0;
    max-width: 414px;
  }
}

@media (min-width: $laptop) {
  .search {
    max-width: 439px;
  }
}

@media (min-width: $desktop) {
  .search {
    max-width: 616px;
  }
}
