html {
  box-sizing: border-box;

  * {
    box-sizing: inherit;

    *::after {
      box-sizing: inherit;
    }

    *::before {
      box-sizing: inherit;
    }
  }
}

body {
  margin: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  line-height: $base-line-height;
  color: $black-color;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

form {
  margin: 0;
}
